/* Fonte importada do google */

@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* Variaveis */

:root {
  --cor-background: #ef787c;
  --cor-font-title: #aae6f7;
  --cor-font-paragraph: #eaaf6e;
  --cor-background-two: #fff06c;
  --cor-font-h1: #310b69;
  --cor-font-h2: #03828c;
  --cor-font-price: #433275;
  --cor-font-name: #2c10ca;
  --cor-font-icon: #ffffff;
}

/* Formate geral */

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

body {
  background-color: var(--cor-background);
  font-size: 15px;
  display: flex;
  margin: 0;
  min-height: 100vh;
}

.models {
  display: none;
}

header {
  background-color: var(--cor-font-paragraph);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;

  display: flex; /* none; */
  justify-content: space-between; /* flex-end; */
  align-items: center;
}

header h1 {
  margin-left: 1rem;
}

/* .container {
  background-color: #315970;
  width: 100%;
  height: 30rem;
} */

.menu-openner {
  display: flex;
  background-color: var(--cor-font-h1);
  color: var(--cor-font-title);

  margin-right: 15px;
  font-size: 26px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-openner span {
  margin-right: 10px;
}

.menu-closer {
  color: var(--cor-font-h1);
  width: 32px;
  height: 32px;
  display: none;
  font-size: 30px;
}

aside {
  background-color: var(--cor-font-title);
  width: 0vw;

  transition: all ease 0.2s;
  overflow-x: hidden;
}

aside.show {
  width: 30vw;
}

.cart--area {
  padding: 5rem 20px;
}

.cart--area h1 {
  display: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
}

h1,
h2 {
  color: var(--cor-font-h1);
  text-align: center;
}

h2 {
  font-size: 3rem;
}

.pizza-area {
  display: grid;
  padding-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.pizza-item {
  text-align: center;
  max-width: 250px;

  margin: 0 auto 50px auto;
}

.pizza-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.pizza-item--img {
  width: 200px;
  height: 200px;
  background-color: var(--cor-background);
  border-radius: 100px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.pizza-item--img img {
  width: 100%;
  height: auto;
}

.pizza-item--add {
  background-color: var(--cor-font-h1);

  border-radius: 0.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--cor-font-icon);
  font-size: 22px;
  cursor: pointer;
  margin-top: -25px;
  transition: all ease 0.2s;
}

.pizza-item a:hover .pizza-item--add {
  background-color: var(--cor-font-h2);
}

.pizza-item--price {
  color: var(--cor-font-icon);

  font-size: 1.5rem;

  width: 60%;
  border-top: 0.1rem solid var(--cor-background-two);
  border-bottom: 0.1rem solid var(--cor-background-two);
  margin: 1rem auto;
}

.pizza-item--name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-font-h1);
  margin-top: 5px;
}

.pizza-item--desc {
  background-color: var(--cor-font-title);

  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--cor-font-h1);
  margin-top: 10px;
}

.pizzaWindowArea {
  background-color: var(--cor-font-h2);

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.pizzaWindowBody {
  background-color: var(--cor-background);

  width: 900px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  margin: 20px 0px;
}

.pizzaBig {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}

.pizzaBig--back {
  background-color: var(--cor-font-title);

  position: absolute;
  width: 30px;
  height: 30px;
}

.pizzaBig img {
  height: 25rem;
}

.pizzaInfo {
  flex: 1;

  padding: 2rem;
}

.pizzaInfo--cancelMobileButton {
  background-color: var(--cor-font-h1);
  color: var(--cor-font-title);
  border-radius: 10px;
  margin: 0 auto;

  height: 3rem;
  width: 4.5rem;
}

.pizzaInfo h1 {
  color: var(--cor-font-h1);
}

.pizzaInfo .pizzaInfo--desc {
  background-color: var(--cor-font-title);
  color: var(--cor-font-h1);

  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;

  margin-top: 0.7rem;
}

.pizzaInfo--sector {
  color: var(--cor-font-h1);
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pizzaInfo--sizes {
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}

.pizzaInfo--size {
  padding: 10px 15px;
  color: var(--cor-font-h1);
  background-color: #eee;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.pizzaInfo--size:hover {
  background-color: #ccc;
}

.pizzaInfo--size.selected {
  background-color: #d32f2f;
  color: #fff;
}

.pizzaInfo--size.selected span {
  color: #d6d6d6;
}

.pizzaInfo--size span {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

.pizzaInfo--price {
  display: flex;
  align-items: center;
}

.pizzaInfo--actualPrice {
  font-size: 28px;
  margin-right: 30px;
}

.pizzaInfo--qtarea {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  height: 30px;
}

.pizzaInfo--qtarea button {
  border: 0;
  background-color: transparent;

  outline: 0;
  cursor: pointer;
  padding: 0px 10px;
  color: #333;
}

.pizzaInfo--qt {
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px 5px;
  color: #000;
}

.pizzaInfo--addButton {
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}

.pizzaInfo--addButton:hover,
.pizzaInfo--cancelButton:hover {
  background-color: var(--cor-background);
  color: var(--cor-font-h1);
  border: 0.2rem solid var(--cor-font-h1);
}

.pizzaInfo--addButton,
.pizzaInfo--cancelButton {
  background-color: var(--cor-font-h1);
  color: var(--cor-font-title);

  padding: 20px 30px;
  border-radius: 1.5rem;
  transition: 100ms;
}

.pizzaInfo--qtmenos,
.pizzaInfo--qtmais,
.pizzaInfo--qt {
  font-size: 1.5rem;
}

.pizzaInfo--cancelButton {
  display: inline-block;
  cursor: pointer;
}

.pizzaInfo--cancelMobileButton {
  display: none;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 30px;
}

.cart {
  margin-bottom: 20px;
}

.cart--item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.cart--item img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.cart--item-nome {
  flex: 1;
}

.cart--item--qtarea {
  display: inline-flex;
  background-color: #eee;
  border-radius: 10px;
  height: 30px;
}

.cart--item--qtarea button {
  display: flex;

  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size: 2.5rem;
  outline: 0;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.cart--item--qt {
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px 5px;
  color: #000;
}

.cart--totalitem {
  padding: 15px 0;
  border-top: 1px solid #d32f2f;
  color: #000;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.cart--totalitem span:first-child {
  font-weight: bold;
}

.cart--totalitem.big {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.cart--finalizar {
  background-color: var(--cor-font-h1);
  color: var(--cor-font-title);

  padding: 20px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  transition: all ease 0.2s;
}

.cart--finalizar:hover {
  background-color: var(--cor-background);
  color: var(--cor-font-h1);
}

@media (max-width: 1300px) {
  .pizza-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  .pizza-area {
    display: block;
  }
  .pizza-item {
    max-width: 100%;
  }
  header {
    display: flex;
  }
  /*
    main {
        padding-top:60px;
    }
    */
  aside {
    width: auto;
    position: fixed;
    left: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease 0.2s;
  }
  aside.show {
    background-color: var(--cor-background-two);
    width: auto;
  }
  .cart--area {
    width: auto;
  }

  .menu-closer {
    display: block;
  }

  .pizzaWindowArea {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pizzaWindowBody {
    width: 100vw;
    height: 100%;
    display: block;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }

  .pizzaInfo {
    padding: 0;
  }
  .pizzaInfo h1 {
    margin-top: 20px;
  }

  .pizzaInfo--qtarea {
    height: 60px;
  }

  .pizzaInfo--qtarea button {
    font-size: 25px;
    padding: 0px 25px;
  }

  .pizzaInfo--price,
  .pizzaInfo--sizearea,
  .pizzaInfo--sector {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .pizzaInfo--sizearea {
    flex-flow: column;
  }

  .pizzaInfo--qt {
    line-height: 60px;
    font-size: 20px;
  }

  .pizzaInfo--addButton {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .pizzaInfo--cancelButton {
    display: none;
  }

  .pizzaInfo--cancelMobileButton {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;

    margin-bottom: 0;
    line-height: 0;
    height: 0;
    width: 100%;
    padding: 20px 30px;
  }
}

@media (max-width: 450px) {
  header h1 {
    font-size: 1.5rem;
  }
  .menu-openner {
    font-size: 1.5rem;
  }

  .pizzaWindowBody {
    height: 100%;
  }

  .pizzaInfo {
    padding: 0;
  }

  .pizzaBig img {
    height: 20rem;
  }

  .cart--area {
    width: auto;
    margin-right: 0;
    padding: 2rem;
  }
}

@media (max-width: 380px) {
  header h1 {
    font-size: 1rem;
  }
  .menu-openner {
    font-size: 1.5rem;
  }
}

#img-logo {
  width: 50px;
}
